<h1>Users</h1>

<div ng-controller="UsersController">

  <p><input type="text" class="form-control" placeholder="Search" ng-model="searchText"></p>

  <table class="table table-hover">

    <th>Name</th>
    <th>Number of ratings</th>
    <tr ng-repeat="user in users | filter:searchText">
      <td><a ng-href="users/{{user.id}}">{{user.username}}</a></td>
      <td>{{user.ratings.length}}</td>
    </tr>

  </table>

</div>