<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %>  by <%= link_to rating.user.username, rating.user %> </li>
  <%end%>
</ul>

<p>
  <% unless current_user.nil? %>
      <%= link_to('Add a new rating', new_rating_path) %>
  <% end %>
</p>