<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |r| %>
      <li> <%= r %> </li>
  <%end%>
</ul>

<p>
  <%= link_to('Add a new rating', ratings_new_path) %>
</p>