<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete %> </li>
  <%end%>
</ul>

<p>
  <%= link_to('Add a new rating', new_rating_path) %>
</p>