<h2>Create new rating</h2>

<%= form_for(@rating) do |f| %>
    Beer: <div><%= f.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s) %></div>
    Score: <div><%= f.number_field :score %></div>
    <%= f.submit %>
<% end %>