<p>
irb(main):006:0> Brewery.create name:"Brew Dog", year:2007
(0.2ms)  begin transaction
SQL (1.2ms)  INSERT INTO "breweries" ("created_at", "name", "updated_at", "year") VALUES (?, ?, ?, ?)  [["created_at", Sun, 19 Jan 2014 19:56:12 UTC +00:00], ["name", "Brew Dog"], ["updated_at", Sun, 19 Jan 2014 19:56:12 UTC +00:00], ["year", 2007]]
(22.3ms)  commit transaction
=> #<Brewery id: 5, name: "Brew Dog", year: 2007, created_at: "2014-01-19 19:56:12", updated_at: "2014-01-19 19:56:12">
irb(main):007:0> Brewery.beers.create name:"Punk IPA", style:"IPA"
NoMethodError: undefined method `beers' for #<Class:0xb9dcbf2c>
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/activerecord-4.0.2/lib/active_record/dynamic_matchers.rb:22:in `method_missing'
  from (irb):7
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands/console.rb:90:in `start'
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands/console.rb:9:in `start'
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands.rb:62:in `<top (required)>'
  from bin/rails:4:in `require'
  from bin/rails:4:in `<main>'
  irb(main):008:0> dog = Breweries.find_by(name:"Brew Dog")
  NameError: uninitialized constant Breweries
  from (irb):8
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands/console.rb:90:in `start'
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands/console.rb:9:in `start'
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands.rb:62:in `<top (required)>'
  from bin/rails:4:in `require'
  from bin/rails:4:in `<main>'
  irb(main):009:0> dog = Brewery.find_by(name:"Brew Dog")
  Brewery Load (0.5ms)  SELECT "breweries".* FROM "breweries" WHERE "breweries"."name" = 'Brew Dog' LIMIT 1
  => #<Brewery id: 5, name: "Brew Dog", year: 2007, created_at: "2014-01-19 19:56:12", updated_at: "2014-01-19 19:56:12">
  irb(main):010:0> dog
  => #<Brewery id: 5, name: "Brew Dog", year: 2007, created_at: "2014-01-19 19:56:12", updated_at: "2014-01-19 19:56:12">
  irb(main):011:0> dog.beers.create name:"Punk IPA", style:"IPA"
  (0.4ms)  begin transaction
  SQL (0.9ms)  INSERT INTO "beers" ("brewery_id", "created_at", "name", "style", "updated_at") VALUES (?, ?, ?, ?, ?)  [["brewery_id", 5], ["created_at", Sun, 19 Jan 2014 19:58:04 UTC +00:00], ["name", "Punk IPA"], ["style", "IPA"], ["updated_at", Sun, 19 Jan 2014 19:58:04 UTC +00:00]]
  (23.2ms)  commit transaction
  => #<Beer id: 14, name: "Punk IPA", style: "IPA", brewery_id: 5, created_at: "2014-01-19 19:58:04", updated_at: "2014-01-19 19:58:04">
  irb(main):012:0> dog.beers.create name:"Nanny State", style:"lowalcohol"
  (0.4ms)  begin transaction
  SQL (0.7ms)  INSERT INTO "beers" ("brewery_id", "created_at", "name", "style", "updated_at") VALUES (?, ?, ?, ?, ?)  [["brewery_id", 5], ["created_at", Sun, 19 Jan 2014 19:58:28 UTC +00:00], ["name", "Nanny State"], ["style", "lowalcohol"], ["updated_at", Sun, 19 Jan 2014 19:58:28 UTC +00:00]]
  (40.7ms)  commit transaction
  => #<Beer id: 15, name: "Nanny State", style: "lowalcohol", brewery_id: 5, created_at: "2014-01-19 19:58:28", updated_at: "2014-01-19 19:58:28">
  irb(main):013:0> punk = beer.find_by(name:"Punk IPA")
  NameError: undefined local variable or method `beer' for main:Object
  from (irb):13
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands/console.rb:90:in `start'
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands/console.rb:9:in `start'
  from /home/wadror/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/railties-4.0.2/lib/rails/commands.rb:62:in `<top (required)>'
  from bin/rails:4:in `require'
  from bin/rails:4:in `<main>'
  irb(main):014:0> punk = Beer.find_by(name:"Punk IPA")
  Beer Load (0.8ms)  SELECT "beers".* FROM "beers" WHERE "beers"."name" = 'Punk IPA' LIMIT 1
  => #<Beer id: 14, name: "Punk IPA", style: "IPA", brewery_id: 5, created_at: "2014-01-19 19:58:04", updated_at: "2014-01-19 19:58:04">
  irb(main):015:0> punk.ratings.create score:45
  (0.5ms)  begin transaction
  SQL (1.3ms)  INSERT INTO "ratings" ("beer_id", "created_at", "score", "updated_at") VALUES (?, ?, ?, ?)  [["beer_id", 14], ["created_at", Sun, 19 Jan 2014 19:59:43 UTC +00:00], ["score", 45], ["updated_at", Sun, 19 Jan 2014 19:59:43 UTC +00:00]]
  (25.2ms)  commit transaction
  => #<Rating id: 4, score: 45, beer_id: 14, created_at: "2014-01-19 19:59:43", updated_at: "2014-01-19 19:59:43">
  irb(main):016:0> punk.ratings.create score:41
  (0.1ms)  begin transaction
  SQL (0.5ms)  INSERT INTO "ratings" ("beer_id", "created_at", "score", "updated_at") VALUES (?, ?, ?, ?)  [["beer_id", 14], ["created_at", Sun, 19 Jan 2014 19:59:45 UTC +00:00], ["score", 41], ["updated_at", Sun, 19 Jan 2014 19:59:45 UTC +00:00]]
  (16.6ms)  commit transaction
  => #<Rating id: 5, score: 41, beer_id: 14, created_at: "2014-01-19 19:59:45", updated_at: "2014-01-19 19:59:45">
  irb(main):017:0> punk.ratings.create score:50
  (0.2ms)  begin transaction
  SQL (0.7ms)  INSERT INTO "ratings" ("beer_id", "created_at", "score", "updated_at") VALUES (?, ?, ?, ?)  [["beer_id", 14], ["created_at", Sun, 19 Jan 2014 19:59:49 UTC +00:00], ["score", 50], ["updated_at", Sun, 19 Jan 2014 19:59:49 UTC +00:00]]
  (37.6ms)  commit transaction
  => #<Rating id: 6, score: 50, beer_id: 14, created_at: "2014-01-19 19:59:49", updated_at: "2014-01-19 19:59:49">
  irb(main):018:0> nanny = Beer.find_by(name:"Nanny State")
  Beer Load (1.0ms)  SELECT "beers".* FROM "beers" WHERE "beers"."name" = 'Nanny State' LIMIT 1
  => #<Beer id: 15, name: "Nanny State", style: "lowalcohol", brewery_id: 5, created_at: "2014-01-19 19:58:28", updated_at: "2014-01-19 19:58:28">
  irb(main):019:0> nanny.ratings.create score:20
  (0.4ms)  begin transaction
  SQL (0.9ms)  INSERT INTO "ratings" ("beer_id", "created_at", "score", "updated_at") VALUES (?, ?, ?, ?)  [["beer_id", 15], ["created_at", Sun, 19 Jan 2014 20:00:21 UTC +00:00], ["score", 20], ["updated_at", Sun, 19 Jan 2014 20:00:21 UTC +00:00]]
  (37.0ms)  commit transaction
  => #<Rating id: 7, score: 20, beer_id: 15, created_at: "2014-01-19 20:00:21", updated_at: "2014-01-19 20:00:21">
  irb(main):020:0> nanny.ratings.create score:16
  (0.1ms)  begin transaction
  SQL (0.8ms)  INSERT INTO "ratings" ("beer_id", "created_at", "score", "updated_at") VALUES (?, ?, ?, ?)  [["beer_id", 15], ["created_at", Sun, 19 Jan 2014 20:00:25 UTC +00:00], ["score", 16], ["updated_at", Sun, 19 Jan 2014 20:00:25 UTC +00:00]]
  (30.7ms)  commit transaction
  => #<Rating id: 8, score: 16, beer_id: 15, created_at: "2014-01-19 20:00:25", updated_at: "2014-01-19 20:00:25">
  irb(main):021:0> nanny.ratings.create score:31
  (0.1ms)  begin transaction
  SQL (0.7ms)  INSERT INTO "ratings" ("beer_id", "created_at", "score", "updated_at") VALUES (?, ?, ?, ?)  [["beer_id", 15], ["created_at", Sun, 19 Jan 2014 20:00:27 UTC +00:00], ["score", 31], ["updated_at", Sun, 19 Jan 2014 20:00:27 UTC +00:00]]
  (28.3ms)  commit transaction
  => #<Rating id: 9, score: 31, beer_id: 15, created_at: "2014-01-19 20:00:27", updated_at: "2014-01-19 20:00:27">
</p>