<h1>Beer places search</h1>

<p>
  <%= form_tag places_path do %>
      <%= text_field_tag :city, params[:city], class:"form-control", placeholder:"City" %>
      <br>
      <%= submit_tag "Search", class:"btn btn-primary" %>
  <% end %>
</p>

<% if @places %>
    <h3>Results:</h3>
    <table>
      <% @places.each do |place| %>
          <tr>
            <td><%= link_to place.name, place_path(place.id) %></td>
          </tr>
      <% end %>
    </table>
    <% else %>
    <p>Results provided by <a href="http://beermapping.com/">BeerMapping API</a>. Can take a while to load.</p>
<% end %>